#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#undef ZMK_POINTING_DEFAULT_SCRL_VAL

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100
#define MOUSE 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    //コンボ設定

    combos {
        compatible = "zmk,combos";

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <28 29>;
        };

        muhennkann {
            bindings = <&to_layer_0 INT_MUHENKAN>;
            key-positions = <24 25>;
        };

        Right_Click {
            bindings = <&mkp MB2>;
            key-positions = <11 12>;
        };

        Setting {
            bindings = <&mo 9>;
            key-positions = <10 34>;
        };

        Up {
            bindings = <&kp UP_ARROW>;
            key-positions = <7 8>;
        };

        Down {
            bindings = <&kp DOWN>;
            key-positions = <17 18>;
        };

        Left {
            bindings = <&kp LEFT>;
            key-positions = <16 17>;
        };

        Right {
            bindings = <&kp RIGHT>;
            key-positions = <19 18>;
        };

        Tab {
            bindings = <&kp TAB>;
            key-positions = <30 29>;
        };

        Delete {
            bindings = <&kp DELETE>;
            key-positions = <22 23>;
        };

        KATAKANA {
            bindings = <&kp F7>;
            key-positions = <6 7>;
        };

        Num_Toggle {
            bindings = <&tog 7>;
            key-positions = <25 20>;
        };
    };

    //マクロ(既存のキーの組み合わせ)

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        Password: Password {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp N2 &kp N1 &kp N3 &kp N0 &kp A &kp G &kp LS(U) &kp N1 &kp N2 &kp N3>;
            label = "PASSWORD";
        };

        iOS_Controlmi: iOS_Controlmi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT>,
                <&macro_tap>,
                <&kp UP_ARROW>,
                <&macro_release>,
                <&kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT>;

            label = "IOS_CONTROLMI";
        };

        BT0_Layer0: BT0_Layer0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0>, <&macro_wait_time 200>, <&to 0>;

            label = "BT0_LAYER0";
        };

        BT0_Layer1: BT0_Layer1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1>, <&macro_wait_time 200>, <&to 1>;

            label = "BT0_LAYER1";
        };

        BT0_Layer2: BT0_Layer2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 2>, <&macro_wait_time 200>, <&to 2>;

            label = "BT0_LAYER2";
        };

        iOS_Fullscreen: iOS_Fullscreen {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT>,
                <&macro_tap>,
                <&kp F>,
                <&macro_release>,
                <&kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT>;

            label = "IOS_FULLSCREEN";
        };

        iOS_Screen_Right: iOS_Screen_Right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT>,
                <&macro_tap>,
                <&kp LC(RIGHT)>,
                <&macro_release>,
                <&kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT>;

            label = "IOS_SCREEN_RIGHT";
        };

        iOS_Screen_Left: iOS_Screen_Left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT>,
                <&macro_tap>,
                <&kp LC(LEFT)>,
                <&macro_release>,
                <&kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT>;

            label = "IOS_SCREEN_LEFT";
        };

        Win_Sleep_Off: Win_Sleep_Off {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI>,
                <&macro_tap>,
                <&kp X>,
                <&macro_release>,
                <&kp LEFT_GUI>,
                <&macro_press>,
                <&kp U>,
                <&macro_release>;

            label = "WIN_SLEEP_OFF";
        };
    };

    //新たな動作を定義する

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        mouse_scroll: mouse_wheel_scrl {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;

            tap-ms = <20>;
        };

        Scroll_Tap: Scroll_Tap {
            compatible = "zmk,behavior-hold-tap";
            label = "SCROLL_TAP";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <230>;
            flavor = "tap-preferred";
        };

        Jap_Eng: Jap_Eng {
            compatible = "zmk,behavior-tap-dance";
            label = "JAP_ENG";
            #binding-cells = <0>;
            bindings = <&kp LANGUAGE_2>, <&kp LANGUAGE_1>;
        };

        Back_Forward: Back_Forward {
            compatible = "zmk,behavior-tap-dance";
            label = "BACK_FORWARD";
            #binding-cells = <0>;
            bindings = <&kp LC(Z)>, <&kp LS(LC(Z))>;
        };

        Voice_Input: Voice_Input {
            compatible = "zmk,behavior-tap-dance";
            label = "VOICE_INPUT";
            #binding-cells = <0>;
            bindings = <&kp LC(LEFT_ALT)>, <&kp LC(LS(LEFT_ALT))>;
        };

        iOS_Copy_Cut: iOS_Copy_Cut {
            compatible = "zmk,behavior-tap-dance";
            label = "IOS_COPY_CUT";
            #binding-cells = <0>;
            bindings = <&kp RG(C)>, <&kp RG(X)>;
        };

        Paste_Value: Paste_Value {
            compatible = "zmk,behavior-tap-dance";
            label = "PASTE_VALUE";
            #binding-cells = <0>;
            bindings = <&kp RC(V)>, <&kp RS(RC(V))>;
        };

        Win_Copy_Paste: Win_Copy_Paste {
            compatible = "zmk,behavior-tap-dance";
            label = "WIN_COPY_PASTE";
            #binding-cells = <0>;
            bindings = <&kp RC(C)>, <&kp RC(X)>;
        };

        iOS_Paste_Value: iOS_Paste_Value {
            compatible = "zmk,behavior-tap-dance";
            label = "IOS_PASTE_VALUE";
            #binding-cells = <0>;
            bindings = <&kp RG(V)>, <&kp RS(RG(V))>;
        };

        iOS_Back_Forward: iOS_Back_Forward {
            compatible = "zmk,behavior-tap-dance";
            label = "IOS_BACK_FORWARD";
            #binding-cells = <0>;
            bindings = <&kp LG(Z)>, <&kp LC(LG(Z))>;
        };
    };

    //キーマップ設定

    keymap {
        compatible = "zmk,keymap";

        Win_US {
            bindings = <
&kp Z             &kp W         &kp E  &kp R  &kp T          &kp Y          &kp U            &kp I        &kp L      &kp P
&Scroll_Tap 10 A  &kp S         &kp D  &kp F  &kp G          &kp H          &kp J            &kp K        &kp O      &Jap_Eng
&mkp MB1          &kp X         &kp C  &kp V  &kp B          &Back_Forward  &trans           &kp N        &kp M      &kp MINUS            &kp COMMA           &kp PERIOD
&kp Q             &Voice_Input                &lt 3 ENTER    &kp BACKSPACE  &kp RIGHT_SHIFT  &lt 6 SPACE  &kp RCTRL  &mt RIGHT_ALT SLASH  &mt RIGHT_GUI EXCL  &kp QUESTION
            >;

            sensor-bindings =
                <&mouse_scroll SCRL_UP SCRL_DOWN>,
                <&mouse_scroll SCRL_UP SCRL_DOWN>;
        };

        Win_JIS {
            bindings = <
&kp Q             &kp W         &kp E  &kp R  &kp T          &kp Y                        &kp U          &kp I        &kp O      &kp P
&kp A             &kp S         &kp D  &kp F  &kp G          &kp H                        &kp J          &kp K        &kp L      &kp MINUS
&mt LEFT_SHIFT Z  &kp X         &kp C  &kp V  &kp B          &kp LANGUAGE_2               &trans         &kp N        &kp M      &kp COMMA     &kp PERIOD        &mt RIGHT_SHIFT SLASH
&kp LCTRL         &kp LEFT_GUI                &lt 3 SPACE    &lt_to_layer_0 6 LANGUAGE_1  &kp BACKSPACE  &lt 5 ENTER  &kp SPACE  &kp LEFT_ALT  &lt 7 LEFT_SHIFT  &kp DEL
            >;

            sensor-bindings =
                <&mouse_scroll SCRL_UP SCRL_DOWN>,
                <&mouse_scroll SCRL_UP SCRL_DOWN>;
        };

        iOS {
            bindings = <
&kp Z             &kp W   &kp E  &kp R  &kp T          &kp Y              &kp U            &kp I        &kp L          &kp P
&Scroll_Tap 10 A  &kp S   &kp D  &kp F  &kp G          &kp H              &kp J            &kp K        &kp O          &Jap_Eng
&mkp MB1          &kp X   &kp C  &kp V  &kp B          &iOS_Back_Forward  &trans           &kp N        &kp M          &kp MINUS            &kp COMMA              &kp PERIOD
&kp Q             &trans                &lt 5 ENTER    &kp BACKSPACE      &kp RIGHT_SHIFT  &lt 6 SPACE  &kp RIGHT_GUI  &mt RIGHT_ALT SLASH  &mt RCTRL EXCLAMATION  &mt C_AC_NEXT_KEYBOARD_LAYOUT_SELECT QUESTION
            >;

            sensor-bindings =
                <&mouse_scroll SCRL_LEFT SCRL_RIGHT>,
                <&mouse_scroll SCRL_LEFT SCRL_RIGHT>;
        };

        Win_US_Screen-Edit {
            bindings = <
&kp LG(LEFT_ARROW)  &kp LG(RIGHT)      &kp LG(UP_ARROW)  &kp LG(TAB)  &kp LC(T)    &kp LESS_THAN         &kp GREATER_THAN       &kp CARET         &kp PERCENT        &kp DOLLAR
&trans              &kp LEFT_ARROW     &kp LEFT_ALT      &kp TAB      &kp LC(S)    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp AT_SIGN       &kp AMPERSAND      &kp DOUBLE_QUOTES
&kp LA(LEFT)        &kp LA(RIGHT)      &kp LC(LS(TAB))   &kp LC(TAB)  &kp F5       &kp LC(W)             &kp NON_US_BACKSLASH   &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp EXCLAMATION    &kp QUESTION  &kp SINGLE_QUOTE
&kp LC(PAGE_UP)     &kp LC(PAGE_DOWN)                                 &trans       &Win_Sleep_Off        &kp BACKSPACE          &Win_Copy_Paste   &Paste_Value       &kp RG(V)          &trans        &kp HASH
            >;

            sensor-bindings =
                <&mouse_scroll SCRL_LEFT SCRL_RIGHT>,
                <&mouse_scroll SCRL_LEFT SCRL_RIGHT>;
        };

        Win_JIS_Screen-Edit {
            bindings = <
&kp ESCAPE      &trans        &trans       &trans              &trans                 &kp LG(W)    &kp LG(LEFT_ARROW)  &mkp MB3         &kp LG(RIGHT_ARROW)  &kp HOME
&kp TAB         &kp LEFT_GUI  &kp LS(TAB)  &kp LG(LEFT_ARROW)  &kp LG(RIGHT_ARROW)    &kp LG(TAB)  &mkp MB1            &kp UP_ARROW     &mkp MB2             &kp PAGE_UP
&kp LEFT_SHIFT  &trans        &trans       &kp LG(DOWN_ARROW)  &trans                 &trans       &kp LG(T)           &kp LS(LG(TAB))  &kp LEFT_ARROW       &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp PAGE_DOWN
&kp LCTRL       &trans                                         &trans                 &trans       &trans              &trans           &trans               &trans          &trans           &kp END
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_DN C_VOL_UP>,
                <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        iOS_Screen-Edit {
            bindings = <
&iOS_Screen_Left      &iOS_Screen_Right      &iOS_Fullscreen  &iOS_Controlmi  &kp LG(T)    &kp LC(W)        &kp LA(LEFT_ARROW)  &mkp MB3           &kp LA(RIGHT_ARROW)  &kp HOME
&trans                &kp LEFT               &kp LEFT_GUI     &kp TAB         &trans       &kp LC(PAGE_UP)  &mkp MB1            &kp UP_ARROW       &mkp MB2             &kp PAGE_UP
&kp LG(LEFT_BRACKET)  &kp LG(RIGHT_BRACKET)  &kp LC(LS(TAB))  &kp LC(TAB)     &kp LG(R)    &kp LG(W)        &kp LC(T)           &kp LC(PAGE_DOWN)  &kp LEFT_ARROW       &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp PAGE_DOWN
&trans                &trans                                                  &trans       &trans           &trans              &iOS_Copy_Cut      &iOS_Paste_Value     &trans          &trans           &kp END
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_DN C_VOL_UP>,
                <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        Num-Symbol_US {
            bindings = <
&trans   &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp F5                     &kp PLUS   &kp MINUS      &kp N7        &kp N8     &kp N9
&kp N0   &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp F10                    &kp EQUAL  &kp COLON      &kp N4        &kp N5     &kp N6
&kp F11  &kp N7        &kp N8        &kp N9        &kp LG(LS(RIGHT_ARROW))    &trans     &kp AMPERSAND  &kp ASTERISK  &kp SLASH  &kp N1  &kp N2         &kp N3
&trans   &trans                                    &trans                     &trans     &kp BACKSPACE  &kp RET       &trans     &trans  &kp AMPERSAND  &kp BSPC
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        Num-Symbol_JIS {
            bindings = <
&trans      &trans       &trans  &trans  &trans    &bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans      &trans       &trans  &trans  &trans    &trans        &trans          &trans        &trans        &trans
&trans      &trans       &trans  &trans  &to 0     &trans        &studio_unlock  &trans        &trans        &trans        &trans  &bt BT_CLR
&sys_reset  &bootloader                  &to 1     &trans        &sys_reset      &bootloader   &trans        &trans        &trans  &bt BT_CLR_ALL
            >;
        };

        layer_8 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans                  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        Setting {
            bindings = <
&trans  &trans  &trans       &trans       &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &BT0_Layer2  &BT0_Layer0  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans       &BT0_Layer1  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans                            &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        Scroll {
            bindings = <
&trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &Win_Sleep_Off    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans                  &trans            &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
